# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build output
dist/
build/
*.zip

# Dependencies
node_modules/

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
